
<!-- Edit Shopping Cart (MenuController)-->
<div class="container">
	<div class="row">
		<div class="col-xs-12">
		<!-- Cart Panel -->
			<div class="panel panel-info">
			<!-- Panel Heading -->
				<div class="panel-heading">
					<div class="panel-title">
						<!-- left-half panel-title -->
						<div class="row">
							<div>
								<h3 class="shoppingcart-title"> {{ editCartTitle }} </h3>
							</div>
						<!-- right-half panel-title -->
							<div class="continue-shopping">
								<button type="button" class="btn btn-primary btn-lg">
									<a href="#/home"> <span class="glyphicon glyphicon-share-alt"></span> Continue shopping </a>
								</button>
							</div>
						</div>
					</div>
				</div>
			<!-- Panel Body -->
				<div class="panel-body">
					<!-- ng-repeat (items in cart) -->
					<ul class="shoppingcart-list">
			          <!-- cart-list-item -->
			         	<li ng-repeat="item in shoppingCart.product" class="shoppingcart-item">
				            <!-- Cart item image panel -->
				            <div class="shoppingcart-image-panel">
				              <img ng-src="{{ item.productImage }}" alt="..." class="img-responsive shoppingcart-item-image">
				            </div>
				            <!-- Cart item description panel -->
				            <div class="shoppingcart-description-panel">
				            	<p class="shoppingcart-item-title">{{item.name}}</p>
			                	<p class="shoppingcart-item-price">{{ item.price | currency}}</p>
			                	<p class="shoppingcart-item-quantity">Qty: {{ item.quantity }}</p>
				              <!-- item buttons -->
				             	<div class="shoppingcart-buttons-wrapper">
				              	<!-- remove item from cart button -->
					              	<div class="shoppingcart-remove-button remove-item">
						            	<button type="button" class="btn btn-danger" ng-click="removeItem(this.item.id)"> <!-- ng-click="removeItem(index)" -->
											<span class="glyphicon glyphicon-remove"></span>
										</button>
									</div>
								</div>
				            </div>
				        </li>
			        </ul>
					<div class="panel-footer">
						<div class="row text-center">
							<div class="col-xs-12">
								<h4>Grand Total <strong> {{ grandTotal() | currency }} </strong></h4>
							</div>
							<div class="col-xs-12">
								<a href="#/checkout">
									<button type="button" class="btn btn-success btn-lg shoppingcart-checkout-button">Checkout</button>
								</a>
							</div>
							<!-- Empty cart button -->
			              	<div class="col-xs-12">
				            	<button type="button" class="btn btn-danger btn-lg shoppingcart-checkout-button" ng-click="emptyCart()">Empty Cart</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
