
<!-- Product Listing Panel -->

<div class="row">
	<div class="col-xs-12">
		<h2 class="listing-header">Shop Products</h2>
		<div class="listing-wrapper row">
			<div ng-repeat="product in productList" class="listing col-xs-12 col-sm-6 col-md-4">
				<a ng-href="#/shop/{{ product.productRoute }}"/>
					<div class="image-container">
						<img ng-src=" {{ product.productImage }}" class="img-responsive" alt="...">
						<div class="image-overlay">
							<p class="listing-text"> {{ product.name }} </p>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
