
    <div class="row payment-interface-row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Payment Details</h3>
                    <div class="checkbox pull-right">
                        <label>
                            <input type="checkbox"/>Remember Card
                        </label>
                    </div>
                </div>
                <div class="panel-body">

<!-- Credit Card Form -->
                    <form role="form" name="cardForm" ng-submit-"submitForm(cardForm.$valid)" novalidate>
<!-- Card Number -->
                        <div class="form-group" ng-class="{ 'has-error' : cardForm.cardNumber.$invalid && !cardForm.cardNumber.$pristine && submitted}">
                            <label for="cardNumber">CARD NUMBER</label>
                            <div class="input-group">
                                <input type="number" name="cardNumber" class="form-control" id="cardNumber" placeholder="Enter Valid Card Number" autofocus ng-model="cardNumber"  ng-minLength="16" ng-maxLength="16" required/>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                            </div>
                            <p ng-show="cardForm.cardNumber.$invalid && !cardForm.cardNumber.$pristine && submitted" class="help-block">A valid Credit Card number is required.</p>
                        </div>
                        <div class="row">
<!-- Card Expiry -->
                            <div class="col-xs-7 col-md-7">
                                <div class="form-group">
                                    <label for="expityMonth">EXPIRY DATE</label>
<!-- Month -->
                                    <div class="input-group">
                                        <div ng-class="{ 'has-error' : cardForm.expityMonth.$invalid && !cardForm.expityMonth.$pristine && submitted}">
                                            <div class="col-xs-6 col-lg-6 pl-ziro">
                                                <input type="number" name="expityMonth" class="form-control" id="expityMonth" placeholder="MM" ng-model="expityMonth"  ng-minLength="2" ng-maxLength="2" required/>
                                                <p ng-show="cardForm.expityMonth.$error.minlength && !cardForm.cardNumber.$pristine && submitted" class="help-block">Invalid Month.</p>
                                            </div>
                                        </div>
<!-- Year -->  
                                        <div ng-class="{ 'has-error' : cardForm.expityYear.$invalid && !cardForm.expityYear.$pristine && submitted }">
                                            <div class="col-xs-6 col-lg-6 pl-ziro">
                                                <input type="number" name="expityYear" class="form-control" id="expityYear" placeholder="YY" ng-model="expityYear" ng-minLength="2" ng-maxLength="2" required/>
                                                <p ng-show="cardForm.expityYear.$error.minlength && !cardForm.cardNumber.$pristine && submitted" class="help-block">Invalid Year.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
<!-- Card CV -->
                            <div class="col-xs-5 col-md-5 pull-right">
                                <div class="form-group" ng-class="{ 'has-error' : cardForm.cardCV.$invalid && !cardForm.cardCV.$pristine && submitted }">
                                    <label for="cvCode">CV CODE</label>
                                    <input type="password" name="cardCV" class="form-control" id="cvCode" placeholder="CV" ng-model="cardCV" ng-minLength="3" ng-maxLength="3" required/>
                                    <p ng-show="cardForm.cardCV.$error.minlength && !cardForm.cardNumber.$pristine && submitted" class="help-block">Invalid CV code.</p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#"><span class="badge pull-right">{{ grandTotal() | currency }} </span> Final Payment</a>
                </li>
            </ul>
            <br/>
            <button  type="submit" class="btn btn-success btn-lg btn-block" role="button" ng-click="submitForm()">Pay</button>
        </div>
    </div>


































