
<!-- Subcategory Overview Page -->

	<!-- Site-Header -->
	<site-header></site-header>

	<!-- Shop Categories Dropdown -->
	<shop-dropdown-menu></shop-dropdown-menu>

	<!-- Subcategory Breadcrumb -->
	<subcategory-breadcrumb></subcategory-breadcrumb>

	<!-- Subcategory Image Panel (min carousel + thumbnails) -->
	<subcategory-image-panel></subcategory-image-panel>

	<!-- Subcategory Description Panel -->
	<subcategory-description-panel></subcategory-description-panel>

	<!-- Product Listing Panel -->
	<product-listing-panel></product-listing-panel>


