
<!-- Subcategory Image Panel (min carousel + thumbnails) -->

<div class="row">
	<div class="col-xs-12">
		<!-- Wrapper -->
		<div class="carousel-wrapper">
			<!-- Subcategory Carousel -->
			<div id="subcategory-carousel" class="carousel slide" data-ride="carousel">
				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
					<!-- ng-repeat (slides) -->
					<div class="{{ image.Image.className }}" ng-repeat="image in subcategoryImageList">
						<img class="carousel-image" ng-src=" {{ image.Image.imageSrc }}" alt="...">
						<div class="carousel-caption">
							<p>{{ image.Image.caption }}</p>
						</div>
					</div>
				</div>
				<!-- Controls -->
				<a class="left carousel-control modified-carousel-control" href="#subcategory-carousel" target="_self" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control modified-carousel-control" href="#subcategory-carousel" target="_self" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
				<!-- Indicators -->
				<ol class="carousel-indicators modified-thumbnail-slider">
					<!-- ng-repeat (thumbnails) -->
					<li ng-repeat="thumbnail in subcategoryImageList" class="carousel-thumbnails {{ thumbnail.Image.thumbnailClassName }}" data-target="#subcategory-carousel" data-slide-to="{{ thumbnail.Image.dataSlide | number }}">
						<img ng-src="{{ thumbnail.Image.imageSrc }}" class="img-responsive">
						<div class="thumbnail-overlay"></div>
					</li>
				</ol>
			</div>
		</div>
	</div>
</div>